body {
    background-color: #FFFFFF;
    background-image: url('http://i.imgur.com/h1rbDlI.jpg');
    /*min-height: 500px;*/
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
div {
	color: #F4F4F4;
	font-family: verdana;
	font-size: 120%;
	text-align: center;
}
.contact {
	color: #F4F4F4;
	font-family: verdana;
	font-size: 90%;
	text-align: justify;
}
.rostertop {
	border-top: 3px solid #F4F4F4;
	border-bottom: 3px solid #F4F4F4;
}
.rostercontact {
	border-top: 0px;
	border-bottom: 2px solid #F4F4F4;
    width: 550px;
}
.rostercontact {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 100%;
	padding-left: 20px;
	padding-right: 20px;
	/*border-bottom: 2px solid #F4F4F4;*/
}
.rostertha {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #F4F4F4;
    text-align: center;
}
.rosterthb {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #F4F4F4;
    text-align: left;
}
.rosterthc {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #F4F4F4;
    text-align: center;
}
.rosterthd {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #F4F4F4;
    text-align: right;
}
.rosterth {
    color: #808080;
    font-family: verdana;
    font-size: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #808080;
}
.roster {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 90%;
	padding-left: 20px;
	padding-right: 20px;
}
.rostera {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 90%;
	padding-left: 20px;
	padding-right: 20px;
    text-align: center;
}
.rosterb {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 90%;
	padding-left: 20px;
	padding-right: 20px;
    text-align: left;
}
.rosterc {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 90%;
	padding-left: 20px;
	padding-right: 20px;
    text-align: center;
}
.rosterd {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 90%;
	padding-left: 20px;
	padding-right: 20px;
    text-align: right;
}
noscroll {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: -20px;
    padding-right: 0px;
    top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.maintable {
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .7);
    -moz-box-shadow:    0px 0px 4px 2px rgba(0, 0, 0, .7);
    box-shadow:         0px 0px 4px 2px rgba(0, 0, 0, .7);
    width: 80%;
}
.bottomtoolbar {
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .7);
    -moz-box-shadow:    0px 0px 4px 2px rgba(0, 0, 0, .7);
    box-shadow:         0px 0px 4px 2px rgba(0, 0, 0, .7);
    width: 100%;
}
.bottomtoolbardiv {
	color: #F4F4F4;
	font-family: verdana;
	font-size: 90%;
	text-align: right;
}