body {
    background-color: #FFFFFF;
    background-image: url('img/bg2.jpg');
    /*min-height: 500px;*/
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
div {
	color: #F4F4F4;
	font-family: verdana;
	font-size: 140%;
	text-align: center;
}
div.contact {
	color: #F4F4F4;
	font-family: verdana;
	font-size: 90%;
	text-align: justify;
}
table.rostertop {
	border-top: 3px solid #F4F4F4;
	border-bottom: 3px solid #F4F4F4;
}
table.rostercontact {
	border-top: 0px;
	border-bottom: 2px solid #F4F4F4;
    width: 550px;
}
th.roster {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 110%;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #F4F4F4;
}
th.rostera {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 110%;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #F4F4F4;
    text-align: center;
}
th.rosterb {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 110%;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #F4F4F4;
    text-align: left;
}
th.rosterc {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 110%;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #F4F4F4;
    text-align: center;
}
th.rosterd {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 110%;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #F4F4F4;
    text-align: right;
}
th.roster1 {
    color: #808080;
    font-family: verdana;
    font-size: 110%;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #808080;
}
td.roster {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
td.rostera {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 100%;
	padding-left: 20px;
	padding-right: 20px;
    text-align: center;
}
td.rosterb {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 100%;
	padding-left: 20px;
	padding-right: 20px;
    text-align: left;
}
td.rosterc {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 100%;
	padding-left: 20px;
	padding-right: 20px;
    text-align: center;
}
td.rosterd {
    color: #F4F4F4;
    font-family: verdana;
    font-size: 100%;
	padding-left: 20px;
	padding-right: 20px;
    text-align: right;
}
noscroll {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: -20px;
    padding-right: 0px;
    top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}
